@use "../global/" as *;

.services {
  scroll-margin-top: 10vh;
  margin-top: 10rem;
  border-bottom: 5px solid var(--header);

  @media screen and (max-width: 768px) {
    margin-top: 5rem;
  }

  .services-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      color: var(--header);
      // letter-spacing: -0.5rem;
      font-size: 4rem;
      font-weight: 800;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      margin-bottom: 2.5rem;
      i {
        font-size: 5rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 3rem;
        i {
          font-size: 3rem;
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;

      article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-top: 2px solid var(--header);

        max-height: 30rem;
        width: 100%;

        .service-btn-container {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          font-size: 1.25rem;
          color: var(--header);

          a {
            padding: 2rem 3rem;
            // border-radius: 3rem;
            border: 2px solid var(--header);
            text-decoration: none;
            color: var(--secondary);
            background-color: var(--accents);
            margin-bottom: 2rem;
            transition: background-color 0.3s ease;
            transition: border-color 0.3s ease;
          }
          a:hover {
            background-color: transparent;
            border-color: black;
            color: var(--hover-text);
            cursor: pointer;
          }

          @media screen and (max-width: 768px) {
            justify-content: center; // Center the link for small screens
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.service-info {
  display: flex;
  flex-direction: column;
  h3 {
    color: var(--header);
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 2rem;
    span {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }
  h4 {
    color: var(--paragraph);
    font-size: 2.5rem;

    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  .service-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;

    h4 {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .remix-img {
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
    }
    .react-img {
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
    }
    .javascript-img {
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
    }
    .html-img {
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
    }
    .css-img {
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
    }
    .sass-img {
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
    }
    .shopify-img {
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
    }

    @media screen and (max-width: 768px) {
      .remix-img,
      .react-img,
      .javascript-img,
      .html-img,
      .css-img,
      .sass-img,
      .shopify-img,
      .cargo-img,
      .strapi-img {
        max-width: 22px;
        max-height: 22px;
      }
    }

    @media screen and (max-width: 300px) {
      .remix-img,
      .react-img,
      .javascript-img,
      .html-img,
      .css-img,
      .sass-img,
      .shopify-img,
      .cargo-img,
      .strapi-img {
        max-width: 17px;
        max-height: 17px;
      }
    }
  }
}
