:root {
  // background colors
  --background: #f2f7f5;
  --navbar: #61ff00;
  --border-section: #61ff00;
  --bg-white: #fff;
  --header: black;
  --sub-header: black;
  --paragraph: black;
  --button-bg: #61ff00;
  --button-text: black;
  --link: #f9bc60;

  --card-background: #242629;
  --card-header: #fffffe;
  --card-paragraph: #61ff00;
  --highlight: black;
  --secondary: #61ff00;
  --accents: black;
  --hover-text: black;
}
