@use "../global/" as *;

.projects {
  scroll-margin-top: 10vh;
}

.projects-content {
  display: flex;
  flex-direction: column;
}

.projects-grid {
  grid-gap: 5rem;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: 1fr 1fr;
  height: auto;
  width: 100%;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 50rem;
  padding: 2rem;
  overflow: hidden;
}

.projects-grid {
  display: flex;
}

.project-img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  img {
    max-width: 100%;
    display: block;
  }
}

.project-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $sub-header;
  font-size: 1.5rem;
  @media (max-width: 800px) {
    font-size: 1.1rem;
  }
}

/* CSS animation for smooth scroll effect on hover */
.project-img img {
  transition: transform 7s ease;
}

.project-img:hover img {
  transform: translateY(calc(-100% + 40rem));
}
