:root {
  --background: #61ff00;
  --bg-white: #fff;
  --header: black;
  --sub-header: black;
  --paragraph: black;
  --button-bg: #61ff00;
  --button-text: black;
  --link: #f9bc60;
  --card-background: #242629;
  --card-header: #fffffe;
  --card-paragraph: #94a1b2;
  --highlight: black;
  --secondary: #61ff00;
  --accents: black;
  --hover-text: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-family: "Karla", sans-serif;
  position: relative;
  padding-top: 15rem;
}

.overflow-x-hidden-wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 200rem !important;
  margin: 0 auto !important;
  padding: 0 2.5rem !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--highlight) #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: black;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

*::-webkit-scrollbar-thumb:active {
  background-color: black;
}

nav {
  align-items: center;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  font-size: 1.9rem;
  height: 12rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 40px 25px 50px;
  width: 100%;
  z-index: 200;
}
nav .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--accents);
  width: 75px;
  height: 75px;
  transition: all 0.8s;
}
nav .logo-container a {
  text-decoration: none;
}
nav .logo-container:hover {
  cursor: pointer;
}
nav h3 {
  font-size: 3rem;
  color: black;
  cursor: pointer;
  padding: 0 1rem;
}
nav img {
  width: 5rem;
}
nav .color-mode-btn-container {
  position: absolute;
  top: -4%;
  left: 30%;
  width: 10rem;
}
nav .color-mode-btn {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav .color-mode-btn img {
  width: 100%;
}
nav .color-mode-btn p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--accents);
}
nav .navbar-links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}
nav .navbar-links a {
  color: var(--header);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.21s;
}
nav .navbar-links a:hover {
  color: var(--hover-text);
}
nav .navbar-links li:first-child a:hover {
  text-decoration: underline;
}
nav .navbar-links li:nth-child(2) a:hover {
  text-decoration: underline;
}
nav .navbar-links li:nth-child(3) a:hover {
  text-decoration: underline;
}
nav .navbar-links li:last-child a {
  background: var(--accents);
  color: var(--secondary);
  padding: 1rem 2rem;
  border: 5px solid black;
}
nav .navbar-links li:last-child a:hover {
  background: transparent;
  color: var(--accents);
}
nav .navbar-links li:last-child a:hover i {
  color: var(--accents);
}
nav .navbar-links li:last-child a i {
  color: var(--secondary);
}
@media (max-width: 1000px) {
  nav .navbar-links {
    display: none;
  }
}

.mobile-hamb {
  font-size: 2.8rem;
  display: none;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--accents);
}
.mobile-hamb:hover {
  color: var(--header);
}
@media (max-width: 1000px) {
  .mobile-hamb {
    display: flex;
  }
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--bg-white);
  z-index: 999999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.mobile-navbar__close {
  font-size: 3rem;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.mobile-navbar__close:hover {
  color: var(--secondary);
}
.mobile-navbar__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 2.3rem;
  gap: 3rem;
  text-align: center;
}
.mobile-navbar__links li a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: 500;
  transition: all 0.3s;
}
.mobile-navbar__links li a:hover {
  color: var(--hover-text);
}

.open-nav {
  left: 0;
}

.pink-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accents);
  border-radius: 100%;
}

.hero {
  background: var(--background);
  height: 30vh;
  position: relative;
  width: 100%;
  border-bottom: 5px solid var(--header);
}
@media (max-width: 900px) {
  .hero {
    height: 35vh;
  }
}
@media (max-width: 375px) {
  .hero {
    height: 38vh;
  }
}
.hero .hero-content {
  display: flex;
  align-items: left;
  gap: 10rem;
  height: auto;
  position: relative;
  width: 100%;
  flex-direction: column;
}
.hero .hero-content h1 {
  color: var(--header);
  font-size: 6rem;
  font-weight: 800;
  padding-bottom: 2rem;
}
.hero .hero-content h1 span {
  font-style: italic;
  background-color: var(--accents);
  color: var(--secondary);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 900px) {
  .hero .hero-content h1 {
    font-size: 4rem;
  }
}
.hero .hero-content h2 {
  color: var(--sub-header);
  font-size: 2.5rem;
  font-weight: 600;
}
@media (max-width: 900px) {
  .hero .hero-content h2 {
    font-size: 1.5rem;
  }
}
.hero .hero-content__tech {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--paragraph);
  font-size: 4rem;
}
.hero .hero-content__tech h4 {
  font-size: 1.5rem;
}
@media (max-width: 650px) {
  .hero .hero-content__tech h4 {
    display: none;
  }
}
@media (max-width: 650px) {
  .hero .hero-content {
    flex-direction: column;
    gap: 5rem;
  }
  .hero .hero-content__tech {
    font-size: 2.25rem;
  }
}

.hero-content-cols {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 769px) {
  .hero-content-cols {
    display: flex;
    flex-direction: column;
  }
}

.hero-content-right .quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.hero-content-right .quotes .quotes-single {
  border: 5px solid var(--header);
  font-size: 1.5rem;
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.hero-content-right .quotes .quotes-single p {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.hero-content-right .quotes .quotes-single:hover p {
  display: block;
}
@media screen and (max-width: 1200px) {
  .hero-content-right .quotes .quotes-single {
    font-size: 1rem;
    display: none;
  }
}

.decagram {
  position: relative;
  display: inline-block;
}

.rotating-image {
  animation: rotate 10s linear infinite; /* You can adjust the animation duration as needed */
  transform-origin: center;
  width: 250px; /* Adjust the width as needed */
  height: 250px; /* Adjust the height as needed */
}
@media screen and (max-width: 1200px) {
  .rotating-image {
    font-size: 1rem;
    width: 150px;
    height: 150px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add any other styles for the text container as needed */
}

.text {
  /* Add styles for the text as needed */
  color: var(--card-paragraph);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(30deg);
}

.hide-decagram {
  display: none;
}

.about {
  scroll-margin-top: 10vh;
  background: var(--background);
  padding: 15rem 0;
  border-bottom: 5px solid var(--header);
}
.about__header {
  color: var(--header);
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  width: 100%;
  padding: 2rem 2.5rem;
  margin-bottom: 5rem;
  align-items: center;
}
.about__header span {
  font-size: 1.5rem;
  letter-spacing: -0.2rem;
}
.about__header h2 {
  letter-spacing: -0.5rem;
}
@media screen and (max-width: 768px) {
  .about__header {
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about__content {
    flex-direction: row;
  }
}
.about__img__left {
  position: relative;
  width: 120rem;
  aspect-ratio: 1;
  border: 0px solid var(--paragraph);
  box-shadow: 0px 2px 8px rgba(146, 146, 146, 0.932);
  border-radius: 50%;
  overflow: hidden;
}
.about__img__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__img__left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--paragraph);
  opacity: 0.67;
  transition: opacity 0.3s ease;
}
.about__img__left:hover::before {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .about__img__left {
    width: 80%;
  }
}
.about .about-text-right {
  padding: 2rem;
  background: var(--background);
  border-radius: 1.7rem;
}
.about .about-text-right .links-container {
  display: flex;
}
.about .about-text-right .links-container .about-social-links {
  display: flex;
  gap: 2.75rem;
  font-size: 2.25rem;
}
.about .about-text-right .links-container .about-social-links a {
  color: var(--paragraph);
}
.about .about-text-right .links-container .about-social-links a:hover {
  opacity: 0.7;
}
.about .about-text-right p {
  color: var(--paragraph);
  font-size: 3rem;
  line-height: 1.75;
  margin-bottom: 1.75rem;
}
@media screen and (max-width: 768px) {
  .about .about-text-right p {
    font-size: 1.5rem;
  }
}

.decagram-about {
  position: relative;
  display: inline-block;
}

.rotating-about-image {
  animation: rotate 10s linear infinite; /* You can adjust the animation duration as needed */
  transform-origin: center;
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}
@media screen and (max-width: 1200px) {
  .rotating-about-image {
    width: 100px;
    height: 100px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-about-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add any other styles for the text container as needed */
}

.text-about {
  /* Add styles for the text as needed */
  color: var(--card-paragraph);
  font-size: 1.15rem;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(-30deg);
}
@media (max-width: 1200px) {
  .text-about {
    font-size: 0.9rem;
  }
}

.projects {
  scroll-margin-top: 10vh;
  border-bottom: 5px solid var(--header);
}
.projects h1 {
  font-size: 5rem;
  letter-spacing: -0.5rem;
  font-weight: 700;
  transform: skewY(-15deg);
  display: inline-block;
  z-index: 5;
  border: 5px solid black;
  border-radius: 5rem;
  padding: 1.5rem;
  background-color: var(--accents);
  color: var(--secondary);
  margin-bottom: 1rem;
}
@media (max-width: 280px) {
  .projects h1 {
    font-size: 4rem;
    margin-top: 7rem;
  }
}

.projects-content {
  display: flex;
  flex-direction: column;
}

.projects-grid {
  grid-gap: 5rem;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: 1fr 1fr;
  height: auto;
  width: 100%;
}
@media (max-width: 800px) {
  .projects-grid {
    display: flex;
    flex-direction: column;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 35rem;
  padding: 2rem;
  overflow: hidden;
}

.projects-grid {
  display: flex;
}

.project-img {
  background-color: hsla(0, 0%, 46%, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.project-img img {
  max-width: 100%;
  display: block;
}

.project-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--sub-header);
  font-size: 1rem;
}
@media (max-width: 800px) {
  .project-text {
    font-size: 1.1rem;
  }
}

/* CSS animation for smooth scroll effect on hover */
.project-img img {
  transition: transform 7s ease;
}

.project-img:hover img {
  transform: translateY(calc(-100% + 40rem));
}

.services {
  scroll-margin-top: 10vh;
  margin-top: 10rem;
  border-bottom: 5px solid var(--header);
}
@media screen and (max-width: 768px) {
  .services {
    margin-top: 5rem;
  }
}
.services .services-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.services .services-content__title {
  color: var(--header);
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.services .services-content__title i {
  font-size: 5rem;
}
@media screen and (max-width: 768px) {
  .services .services-content__title {
    font-size: 3rem;
  }
  .services .services-content__title i {
    font-size: 3rem;
  }
}
.services .services-content__list {
  display: flex;
  flex-direction: column;
}
.services .services-content__list article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid var(--header);
  max-height: 30rem;
  width: 100%;
}
.services .services-content__list article .service-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.25rem;
  color: var(--header);
}
.services .services-content__list article .service-btn-container a {
  padding: 2rem 3rem;
  border: 2px solid var(--header);
  text-decoration: none;
  color: var(--secondary);
  background-color: var(--accents);
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.services .services-content__list article .service-btn-container a:hover {
  background-color: transparent;
  border-color: black;
  color: var(--hover-text);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .services .services-content__list article .service-btn-container {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.service-info {
  display: flex;
  flex-direction: column;
}
.service-info h3 {
  color: var(--header);
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 2rem;
}
.service-info h3 span {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .service-info h3 {
    font-size: 2rem;
  }
}
.service-info h4 {
  color: var(--paragraph);
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  .service-info h4 {
    font-size: 1.5rem;
  }
}
.service-info .service-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .service-info .service-icons h4 {
    display: none;
  }
}
.service-info .service-icons .remix-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}
.service-info .service-icons .react-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}
.service-info .service-icons .javascript-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}
.service-info .service-icons .html-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}
.service-info .service-icons .css-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}
.service-info .service-icons .sass-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}
.service-info .service-icons .shopify-img {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .service-info .service-icons .remix-img,
  .service-info .service-icons .react-img,
  .service-info .service-icons .javascript-img,
  .service-info .service-icons .html-img,
  .service-info .service-icons .css-img,
  .service-info .service-icons .sass-img,
  .service-info .service-icons .shopify-img,
  .service-info .service-icons .cargo-img,
  .service-info .service-icons .strapi-img {
    max-width: 22px;
    max-height: 22px;
  }
}
@media screen and (max-width: 300px) {
  .service-info .service-icons .remix-img,
  .service-info .service-icons .react-img,
  .service-info .service-icons .javascript-img,
  .service-info .service-icons .html-img,
  .service-info .service-icons .css-img,
  .service-info .service-icons .sass-img,
  .service-info .service-icons .shopify-img,
  .service-info .service-icons .cargo-img,
  .service-info .service-icons .strapi-img {
    max-width: 17px;
    max-height: 17px;
  }
}

.call-to-action {
  scroll-margin-top: 10vh;
  background: var(--background);
  padding: 15rem 0;
}
.call-to-action__content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  color: var(--header);
  font-size: 3rem;
  display: flex;
  width: 100%;
  padding: 2rem 2.5rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .call-to-action__content {
    font-size: 2rem;
    gap: 3rem;
  }
}
.call-to-action__content h2 {
  font-weight: 900;
  padding: 0.2rem;
  border: 5px solid black;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}
@media screen and (max-width: 830px) {
  .call-to-action__content h2 {
    font-size: 2rem;
  }
}
.call-to-action__content h2:hover {
  background-color: var(--accents);
  color: var(--secondary);
}
.call-to-action__content .description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50rem;
}
@media screen and (max-width: 768px) {
  .call-to-action__content .description {
    width: 100%;
  }
}
.call-to-action__content p {
  color: var(--paragraph);
  font-size: 1.5rem;
  line-height: 1.75;
  margin-bottom: 1;
}
@media screen and (max-width: 768px) {
  .call-to-action__content p {
    font-size: 1.25rem;
  }
}
.call-to-action__content a {
  text-decoration: none;
  color: var(--header);
}
.call-to-action__content a h2 {
  width: 100%;
}
.call-to-action__content .work-with-me {
  padding: 1.5rem 2.5rem;
  border-radius: 5rem;
  border: 2px solid var(--header);
  color: var(--header);
  background-color: var(--secondary);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  font-size: 4rem;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  .call-to-action__content .work-with-me {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }
}
.call-to-action__content a:hover {
  background: transparent;
  border: 2px solid var(--paragraph);
  color: var(--header);
}

.footer {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 2rem 0;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--header);
  font-size: 1.2rem;
}
.footer-content h4 {
  background-color: var(--accents);
  color: var(--secondary);
  z-index: 20;
}
@media screen and (max-width: 768px) {
  .footer-content {
    font-size: 1rem;
  }
}
.footer-content p {
  margin: 0;
  color: #fff;
  z-index: 10;
}
@media screen and (max-width: 1250px) {
  .footer-content p {
    display: none;
  }
}
.footer-content p span {
  color: var(--highlight);
}
@media screen and (max-width: 768px) {
  .footer-content p {
    margin-bottom: 1rem;
  }
}
.footer-content .triple-h-footer-img {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  .footer-content .triple-h-footer-img {
    width: 50rem;
  }
}
@media screen and (max-width: 1000px) {
  .footer-content .triple-h-footer-img {
    width: 40rem;
  }
}
@media screen and (max-width: 669px) {
  .footer-content .triple-h-footer-img {
    width: 20rem;
  }
}
.footer-content .goku-black-footer-img {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  .footer-content .goku-black-footer-img {
    width: 50rem;
  }
}
@media screen and (max-width: 1300px) {
  .footer-content .goku-black-footer-img {
    width: 20rem;
  }
}
.footer-content .active-image {
  display: block; /* Display the image */
}
.footer-content .inactive-image {
  display: none; /* Hide the image */
}

.frontend-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.5rem;
  color: var(--header);
}
@media screen and (max-width: 768px) {
  .frontend-content {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 280px) {
  .frontend-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.frontend-col-left .frontend-header {
  color: var(--header);
  margin-bottom: 4rem;
}
.frontend-col-left .frontend-header h2 {
  font-size: 4.25rem;
  font-weight: 800;
}
.frontend-col-left .frontend-pack-description {
  line-height: 1.7;
  margin-bottom: 7rem;
}
.frontend-col-left .frontend-pack-description h4 {
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.frontend-col-left .frontend-pack-description p {
  font-size: 1.5rem;
  color: var(--paragraph);
  margin-bottom: 1.5rem;
}
.frontend-col-left li {
  font-size: 1.5rem;
  list-style: none;
  color: var(--paragraph);
  margin-bottom: 1.5rem;
}
.frontend-col-left li i {
  margin-right: 1.5rem;
}
.frontend-col-left li span {
  font-size: 1.1rem;
}
.frontend-col-left .frontend-call-to-action-content {
  display: flex;
  flex-direction: column;
  height: 30rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--paragraph);
  border-bottom: 1px solid var(--paragraph);
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 5rem;
}
.frontend-col-left .frontend-call-to-action-content a {
  padding: 1.5rem 7rem;
  border-radius: 3rem;
  border: 2px solid var(--header);
  color: var(--header);
  text-decoration: none;
  font-size: 1.75rem;
  letter-spacing: 0.3rem;
  font-weight: 800;
  transition: all 0.3s;
  margin-bottom: 2rem;
}
.frontend-col-left .frontend-call-to-action-content a:hover {
  background: var(--highlight);
  color: #fff;
  border: 2px solid var(--paragraph);
}
@media screen and (max-width: 768px) {
  .frontend-col-left .frontend-call-to-action-content {
    height: auto;
  }
}
.frontend-col-left .frontend-more-services-content h4 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.frontend-col-left .frontend-more-services-content article {
  border: 1px solid var(--header);
  border-radius: 1.7rem;
}
.frontend-col-left .frontend-more-service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.frontend-col-left .frontend-more-service-info h3 {
  color: var(--header);
  font-size: 2rem;
  margin-top: 2rem;
}
.frontend-col-left .frontend-more-service-info h3 span {
  font-size: 1.5rem;
}
.frontend-col-left .frontend-more-service-info h4 {
  color: var(--paragraph);
  font-size: 1.2rem;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons .remix-img-more-services-frontend {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons .react-img-more-services-frontend {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons .javascript-img-more-services-frontend {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons .html-img-more-services-frontend {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons .css-img-more-services-frontend {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons .sass-img-more-services-frontend {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons .shopify-img-more-services-frontend {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.frontend-col-left .frontend-more-service-info .frontend-more-service-icons .strapi-img-more-services-frontend {
  max-width: 70px;
  max-height: 70px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .frontend-col-left .frontend-more-service-info h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .frontend-col-left .frontend-more-service-info h3 span {
    font-size: 1rem;
  }
  .frontend-col-left .frontend-more-service-info h4 {
    font-size: 1.1rem;
  }
  .frontend-col-left .frontend-more-service-info .frontend-more-service-icons .remix-img-more-services-frontend {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
  }
  .frontend-col-left .frontend-more-service-info .frontend-more-service-icons .react-img-more-services-frontend {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
  }
  .frontend-col-left .frontend-more-service-info .frontend-more-service-icons .javascript-img-more-services-frontend {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
  }
  .frontend-col-left .frontend-more-service-info .frontend-more-service-icons .html-img-more-services-frontend {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
  }
  .frontend-col-left .frontend-more-service-info .frontend-more-service-icons .css-img-more-services-frontend {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
  }
  .frontend-col-left .frontend-more-service-info .frontend-more-service-icons .sass-img-more-services-frontend {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
  }
  .frontend-col-left .frontend-more-service-info .frontend-more-service-icons .shopify-img-more-services-frontend {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
  }
  .frontend-col-left .frontend-more-service-info .frontend-more-service-icons .strapi-img-more-services-frontend {
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
  }
}

.frontend-more-service {
  margin-bottom: 10rem;
}
.frontend-more-service .frontend-more-service-btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--header);
}
.frontend-more-service .frontend-more-service-btn-container a {
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: 2px solid var(--header);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--header);
  transition: background-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.frontend-more-service .frontend-more-service-btn-container a:hover {
  background-color: var(--secondary);
  border-color: var(--paragraph);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .frontend-more-service .frontend-more-service-btn-container a {
    padding: 1.5rem 2.5rem;
    font-size: 1.1rem;
  }
}

.frontend-col-right .frontend-info-container {
  height: 75rem;
  border: solid 1px var(--header);
  border-radius: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 0 2rem;
}
.frontend-col-right .frontend-info-container i {
  margin-right: 1rem;
}
.frontend-col-right .frontend-info-container .frontend-center-info-container {
  width: 70%;
  margin: 0 auto;
}
.frontend-col-right .frontend-info-container .frontend-center-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--paragraph);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.frontend-col-right .frontend-info-container .frontend-center-info .frontend-contact-me-btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--header);
}
.frontend-col-right .frontend-info-container .frontend-center-info .frontend-contact-me-btn a {
  color: var(--header);
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: 2px solid var(--header);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.frontend-col-right .frontend-info-container .frontend-center-info .frontend-contact-me-btn a:hover {
  background-color: var(--secondary);
  border-color: var(--paragraph);
  cursor: pointer;
}
.frontend-col-right .frontend-info-container h4 {
  font-size: 1.75rem;
  font-weight: 800;
}
.frontend-col-right .frontend-info-container p {
  font-size: 1.5rem;
  color: var(--paragraph);
}
@media screen and (max-width: 768px) {
  .frontend-col-right .frontend-info-container {
    height: auto;
  }
}

.frontend-service-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.frontend-service-icons .frontend-tech-container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 2.2rem;
}
.frontend-service-icons .frontend-tech-container .react-img-frontend-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.frontend-service-icons .frontend-tech-container .javascript-img-frontend-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.frontend-service-icons .frontend-tech-container .html-img-frontend-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.frontend-service-icons .frontend-tech-container .css-img-frontend-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.frontend-service-icons .frontend-tech-container .sass-img-frontend-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .frontend-service-icons .frontend-tech-container img {
    max-width: 20px;
    max-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .frontend-content {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 280px) {
  .frontend-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .frontend-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .frontend-call-to-action-content {
    font-size: 1.5rem;
  }
  .frontend-more-service-info h3 {
    font-size: 1.8rem;
  }
  .frontend-more-service-info h4 {
    font-size: 1rem;
  }
  .frontend-more-service-info .frontend-more-service-icons img {
    max-width: 20px;
    max-height: 20px;
  }
  .frontend-col-right .frontend-info-container {
    height: auto;
  }
}
.fullstack-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.5rem;
  color: var(--header);
}
@media screen and (max-width: 768px) {
  .fullstack-content {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 280px) {
  .fullstack-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.col-left .header {
  color: var(--header);
  margin-bottom: 4rem;
}
.col-left .header h2 {
  font-size: 4.25rem;
  font-weight: 800;
}
.col-left .pack-description {
  line-height: 1.7;
  margin-bottom: 7rem;
}
.col-left .pack-description h4 {
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.col-left .pack-description p {
  font-size: 1.5rem;
  color: var(--paragraph);
  margin-bottom: 1.5rem;
}
.col-left li {
  font-size: 1.5rem;
  list-style: none;
  color: var(--paragraph);
  margin-bottom: 1.5rem;
}
.col-left li i {
  margin-right: 1.5rem;
}
.col-left li span {
  font-size: 1.1rem;
}
.col-left .call-to-action-content {
  display: flex;
  flex-direction: column;
  height: 30rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--paragraph);
  border-bottom: 1px solid var(--paragraph);
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 5rem;
}
.col-left .call-to-action-content a {
  padding: 1.5rem 7rem;
  border-radius: 3rem;
  border: 2px solid var(--header);
  color: var(--header);
  text-decoration: none;
  font-size: 1.75rem;
  letter-spacing: 0.3rem;
  font-weight: 800;
  transition: all 0.3s;
  margin-bottom: 2rem;
}
.col-left .call-to-action-content a:hover {
  background: var(--highlight);
  color: #fff;
  border: 2px solid var(--paragraph);
}
@media screen and (max-width: 768px) {
  .col-left .call-to-action-content {
    height: auto;
  }
}
.col-left .more-services-content h4 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.col-left .more-services-content article {
  border: 1px solid var(--header);
  border-radius: 1.7rem;
}
.col-left .more-service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.col-left .more-service-info h3 {
  color: var(--header);
  font-size: 2rem;
  margin-top: 2rem;
}
.col-left .more-service-info h3 span {
  font-size: 1.5rem;
}
.col-left .more-service-info h4 {
  color: var(--paragraph);
  font-size: 1.2rem;
}
.col-left .more-service-info .more-service-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
.col-left .more-service-info .more-service-icons .remix-img-more-services {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.col-left .more-service-info .more-service-icons .react-img-more-services {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.col-left .more-service-info .more-service-icons .javascript-img-more-services {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.col-left .more-service-info .more-service-icons .html-img-more-services {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.col-left .more-service-info .more-service-icons .css-img-more-services {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.col-left .more-service-info .more-service-icons .sass-img-more-services {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.col-left .more-service-info .more-service-icons .shopify-img-more-services {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.col-left .more-service-info .more-service-icons .cargo-img-more-services {
  max-width: 35px;
  max-height: 35px;
  object-fit: contain;
}
.col-left .more-service-info .more-service-icons .strapi-img-more-services {
  max-width: 70px;
  max-height: 70px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .col-left .more-service-info h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .col-left .more-service-info h3 span {
    font-size: 1.4rem;
  }
  .col-left .more-service-info h4 {
    font-size: 1.1rem;
  }
  .col-left .more-service-info .more-service-icons img {
    max-width: 25px;
    max-height: 25px;
  }
}

.more-service {
  margin-bottom: 10rem;
}
.more-service .more-service-btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--header);
}
.more-service .more-service-btn-container a {
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: 2px solid var(--header);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--header);
  transition: background-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.more-service .more-service-btn-container a:hover {
  background-color: var(--secondary);
  border-color: var(--paragraph);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .more-service .more-service-btn-container a {
    padding: 1.5rem 2.5rem;
    font-size: 1.1rem;
  }
}

.col-right .info-container {
  height: 75rem;
  border: solid 1px var(--header);
  border-radius: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 0 2rem;
}
.col-right .info-container i {
  margin-right: 1rem;
}
.col-right .info-container .center-info-container {
  width: 70%;
  margin: 0 auto;
}
.col-right .info-container .center-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--paragraph);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.col-right .info-container .center-info .contact-me-btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--header);
}
.col-right .info-container .center-info .contact-me-btn a {
  color: var(--header);
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: 2px solid var(--header);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.col-right .info-container .center-info .contact-me-btn a:hover {
  background-color: var(--secondary);
  border-color: var(--paragraph);
  cursor: pointer;
}
.col-right .info-container h4 {
  font-size: 1.75rem;
  font-weight: 800;
}
.col-right .info-container p {
  font-size: 1.5rem;
  color: var(--paragraph);
}
@media screen and (max-width: 768px) {
  .col-right .info-container {
    height: auto;
  }
}

.fullstack-service-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.fullstack-service-icons .tech-container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.fullstack-service-icons .tech-container .remix-img-fullstack-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.fullstack-service-icons .tech-container .react-img-fullstack-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.fullstack-service-icons .tech-container .javascript-img-fullstack-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.fullstack-service-icons .tech-container .html-img-fullstack-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.fullstack-service-icons .tech-container .css-img-fullstack-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.fullstack-service-icons .tech-container .sass-img-fullstack-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.fullstack-service-icons .tech-container .shopify-img-fullstack-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
.fullstack-service-icons .tech-container .strapi-img-fullstack-service {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .fullstack-service-icons .tech-container img {
    max-width: 20px;
    max-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .fullstack-content {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 280px) {
  .fullstack-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .fullstack-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .call-to-action-content {
    font-size: 1.5rem;
  }
  .more-service-info h3 {
    font-size: 1.8rem;
  }
  .more-service-info h4 {
    font-size: 1rem;
  }
  .more-service-info .more-service-icons img {
    max-width: 20px;
    max-height: 20px;
  }
  .col-right .info-container {
    height: auto;
  }
}
/* CSS for the "Scroll To Top" button */
.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--paragraph);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.scroll-to-top-button:hover {
  background-color: var(--header);
  color: var(--background);
}

/*# sourceMappingURL=styles.css.map */
